/* Universal Code */

body {
  max-width: 100%;
  margin: 0;
}

/* Header */

header {
  background-color: #1F2937;
  height: 100px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px 20px 5px 20px;
}

header img {
  height: 80px;
  width: auto;
  background-color: white;
  margin-top: 10px;
}

.header_links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  font-size: 18px;
  color: #e5e7eb;
}

.header_links li:not(:last-child) {
  margin-right: 10%;
}

/* About Us section */
#about_us {
  height: 500px;
  background-color: #1F2937;
  display: flex;
}

.aboutus_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 50px;
}

.aboutus_container img {
  height: 300px;
}

.aboutus_title {
  color: #f9faf8;
  font-size: 48px;
}

.aboutus_container p {
  color: #e5e7eb;
  font-size: 18px;
}

.aboutus_container button {
  padding: 10px 20px;
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* Camera Options */

#camera_options h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 40px 0;
}

#camera_options div {
  width: 800px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0 auto;
}

#camera_options div img {
  width: 250px;
  height: auto;
  border: 5px solid #3882F6;
  border-radius: 10px;
}

figcaption {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bolder;
}