/* Universal Code */

body {
  max-width: 100%;
  margin: 0;
}

/* Header */

header {
  background-color: #1F2937;
  height: 100px;
  max-width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px 20px 5px 20px;
  overflow: hidden;
}

header img {
  height: 80px;
  width: auto;
  background-color: white;
  margin-top: 10px;
}

.header_links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  font-size: 18px;
  color: #e5e7eb;
  overflow: hidden;
  margin-right: -100px;
}

.header_links li:not(:last-child) {
  margin-right: 10%;
  overflow: hidden;
}

.header_links a {
  color: white;
  text-decoration: none;
}

/* About Us section */
#about_us {
  height: 500px;
  background-color: #1F2937;
  display: flex;
}

.aboutus_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 50px;
}

.aboutus_container img {
  height: 300px;
}

.aboutus_title {
  color: #f9faf8;
  font-size: 48px;
}

.aboutus_container p {
  color: #e5e7eb;
  font-size: 18px;
}

.aboutus_container button {
  padding: 10px 20px;
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* Camera Options */

#camera_options h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: 40px 0;
}

#camera_options div {
  width: 800px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0 auto;
}

#camera_options div img {
  width: 250px;
  height: auto;
  border: 5px solid #3882F6;
  border-radius: 10px;
}

figcaption {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bolder;
}

/* testimonials */

#testimonials {
  height: 500px;
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#testimonials div {
  width: 1300px;
  font-size: 36px;
  margin: 0 auto;
}

#testimonials div p {
  font-style: italic;
  font-weight: light;
  color: #1F2937;
}

#testimonials div h2 {
  font-size: 30px;
  float: right;
  margin-top: -30px;
}

/* Request Quote */

#request_quote {
  padding: 200px 100px;
}

.requestquote_container {
  display: flex;
  width: 1300px; 
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 125px;
  background-color: #3882F6;
  border-radius: 10px;
  color: white;
}

.requestquote_container h1 {
  font-size: 36px;
}

.requestquote_container p {
  font-size: 18px;
}
.requestquote_container button {
  padding: 10px 25px;
  font-size: 24px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
}

/* Footer */ 
footer {
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  font-size: 24px;
  color: white;
}

